# === Node / Frontend ===
node_modules/
dist/
dist-ssr/
*.local

# === .NET ===
bin/
obj/
*.user
*.suo
*.cache
*.pdb
*.mdb

# === Python ===
__pycache__/
*.pyc

# === OS / Editor ===
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea/

# === Large Data / ML ===
MLmodel/kaggledata/